@import url('https://fonts.googleapis.com/css?family=Lora:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

.banners {
    background-color: #0E0D49;   
    text-align: center; 
}

.kendra-banner{
    background: url("../images/kendra.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:360px;
    display: inline-block;
    }

/*p1  ^   p2v   p3vv    p4vvv */
.katie-banner{
    background: url("../images/katie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:360px;
    display:inline-block;
    }

.poppy-banner{
    background: url("../images/poppy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:360px;
    display: inline-block;
    }

.triad-banner{
    background: url("../images/pbanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:360px;
    align-content: center;
    }

