@import url('https://fonts.googleapis.com/css?family=Lora:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


.banners {
    /*background-color: #0E0D49;  */   
    text-align: center; 
    margin-left: 12.5%;
    margin-right: 12.5%;
}
/* can I expand to lose the margin or take over the rest of the space and min theother 2 maybe to just names? */

.kendra-banner{
    background: url("../images/kendra.jpg");
    min-height:360px;
    display: inline-block;
    }

/*p1  ^   p2v   p3vv    p4vvv */
.katie-banner{
    background: url("../images/katie.jpg");
    min-height:360px;
    display:inline-block;
    }

.poppy-banner{
    background: url("../images/poppy.jpg");
    min-height:360px;
    display: inline-block;
    }

.triad-banner{
    background: url("../images/pbanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:360px;
    align-content: center;
    }

    /*-------------------------------------------------------------Footer----*/

.katie-footer{
    margin-left: 12.5%;
    margin-right:12.5%;
    background-color: #662557;
    display: inline-block;       
}

.poppy-footer{
    margin-left: 12.5%;
    margin-right:12.5%;
    background-color: #147055;       
    display: inline-block;
}

.kendra-footer{
    margin-left: 12.5%;
    margin-right:12.5%;
    background-color: #BF1DDB;       
    display: inline-block;
}

/* fix color of icons to white and figure out how to get all of them inline instead of stacked*/